table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 10px solid black;
  }
  table{
      
      font-size: 45px}
  body{ 
      background-color:rgb(8, 53, 151)
    }
   html{font-family: 'Staatliches', cursive;}
body{
    color: aliceblue
}


