table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 6px solid black;
  }
  table{
      
      font-size: 45px}
  body{ 
      background-color:rgb(8, 53, 151)
    }
   html{font-family: 'Staatliches', cursive;}
body{
    color: aliceblue
}
#violet{
    color:violet
}
#neongreen{
color: rgb(8, 250, 0)
}
#red{
    color:red
}
