body {
    margin: 0;
    background-color: gray;
    color: maroon;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #790000;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: gray;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: white;
    color: maroon;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }