div {
    width: 300px;
    height: 50px;
    background-color: rgb(149, 42, 163);
    overflow: visible;}
    td {
        font-family: "Ariel",}
th,td,table{
    border: 3px dashed rgb(216, 216, 216);
}